# Python cache
__pycache__/

# Virtual environments
venv/
env/
.env

# Logs
*.log

# Data folders (ignore if data is large or sensitive)
data/*/
data/ctu_chatbot_dataset.csv

# Model checkpoints and large files
models/
models/*